<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head') %>
  <body>

    <%- include ('../partials/header') %>


    <div class="container pt-1" >
            <div id='id-alerts' class='row'>
        <div id='alert-fail' class="alert alert-danger alert-dismissible col-md-12" role="alert" style="display:none;">
          <div id='fail-message'></div>
          <button id='close_fail' type="button" class="close"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>          
        </div>
        <div id='alert-success' class="alert alert-success alert-dismissible col-md-12" role="alert" style="display:none;">
          <div id='success-message'></div>
          <button id='close_success' type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>          
        </div>
      </div>

      <input id='id_token' type='hidden'  >
      <div class='row'>
        <div class="col-md-2 p-0">
        <!-- market -->
          <div class="col-md-12 p-1">
            <div class="card">
              <div class="card-header alert alert-primary" style="margin-bottom: 0.3rem;">
                <form>
                  <div class="form-row">
                    <div class="col">
                      Market
                    </div>
                    <div class="col">
                      <input id="filter_ticker" type='text' size='5' placeholder='Ticker' class='form-control form-control-sm float-right'>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-body p-0">
                  <button id='SUM_market' type="button" class="btn btn-outline-primary btn-sm" style="margin: 0.03rem; padding: 0.15rem 0.3rem; border-radius: 0.4rem;">SUM</button><button id='BTC_market' type="button" class="btn btn-outline-primary btn-sm" style="margin: 0.03rem; padding: 0.15rem 0.3rem; border-radius: 0.4rem;">BTC</button><button id='DOGE_market' type="button" class="btn btn-outline-primary btn-sm" style="margin: 0.03rem; padding: 0.15rem 0.3rem; border-radius: 0.4rem;">DOGE</button><button id='LTC_market' type="button" class="btn btn-outline-primary btn-sm" style="margin: 0.03rem; padding: 0.15rem 0.3rem; border-radius: 0.4rem;">LTC</button><button id='T.B.D_market' type="button" class="btn btn-outline-primary btn-sm" style=" margin: 0.03rem; padding: 0.15rem 0.3rem; border-radius: 0.4rem;">GLOV</button>
                <div id='market-flex' class="d-flex d-flex-market align-items-start bd-highlight mb-0" style='height: 720px;'>
                  <div id='market-container' class='container p-0'>
                    <table id='table_market' class="table table-sm  table-hover table-orders">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Coin</th>
                          <th>Price</th>
                          <th>Ch&nbsp(%)</th>
                        </tr>
                      </thead>
                      <tbody id='table-market'>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
        <!-- End market -->
        <!-- chart -->
        <div class='col-md-10 pl-2'>
          <div class="row">
            <div class='col-md-8 pl-2'>
              <div class='container p-0'>
                <div class='row p-0'>
                  <iframe frameBorder="0" scrolling='no' style='height: 335px;' class="col-md-12" src='../chart.html'></iframe>
                </div>
              </div>
            </div>
            <!-- Sumcoin Board -->
            <div class="col-md-4 p-1">
                  <div class="card" style="height: 36px">
                    <div class="card-header p-0 alert alert-primary">
                      <table class='table table-orders m-0' style="font-size: 14px;">
                        <tr>
                          <td><strong><center>Sumcoincoin Board</center></strong></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="card">
                    <ul class="nav nav-tabs alert-light">
                        <li class="nav-item">
                        <a class="nav-link active" id="Coinpaprika-tab" data-toggle="tab" href="#Coinpaprika" role="tab" aria-controls="Coinpaprika" aria-selected="true">Coinpaprika</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="CoinGecko-tab" data-toggle="tab" href="#CoinGecko" role="tab" aria-controls="CoinGecko" aria-selected="true">CGecko</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="SumcoinChat-tab" data-toggle="tab" href="#SumcoinChat" role="tab" aria-controls="SumcoinChat" aria-selected="true">Chat</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" id="CoinCodex-tab" data-toggle="tab" href="#CoinCodex" role="tab" aria-controls="CoinCodex" aria-selected="true">CoinCodex</a>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link" id="Twitter-tab" data-toggle="tab" href="#TwitterSumcoincoin" role="tab" aria-controls="TwitterSumcoincoin" aria-selected="false">Twitter</a>
                      </li>
                    </ul>
                <div class="card-body div-orders p-0" style="height: 250px">
                  <div class="tab-content" id="user-orders-tab-content">
                    <div class="tab-pane fade " id="CoinGecko" role="tabpanel" >
                         <div class="card-body  p-1" style="justify-content: center;" >
                            <center><script src="https://widgets.coingecko.com/coingecko-coin-price-static-headline-widget.js"></script>
                            <coingecko-coin-price-static-headline-widget  coin-ids="bitcoin, sumcoin" currency="usd" locale="en"></coingecko-coin-price-static-headline-widget>
                            </center>
                          </div>
                    </div>
                    <!-- <div class="tab-pane fade" id="CoinCodex" role="tabpanel" >
                         <div class="card-body  p-1" style="justify-content: center;" >
                           <center><script src="https://widget.coincodex.com/include.js?type=1&ticker=sumcoin&chartLineColor=1f79e1&chartFillColor=e8f1fc&backgroundColor=ffffff&textColor1=000000&textColor2=617283&linkColor=4a90e2&borderColor=ffffff&history_days=30"></script>
                           </center>
                          </div>
                    </div> -->
                    <div class="tab-pane fade show active" id="Coinpaprika" role="tabpanel" >
                         <div class="card-body  p-1" style="justify-content: center;" >
                           <center><script type="text/javascript" src="https://unpkg.com/@coinpaprika/widget-currency/dist/widget.min.js"></script><div class="coinpaprika-currency-widget" data-primary-currency="usd" data-currency="sum-sumcoin" data-modules='["market_details"]' data-update-active="true" data-update-timeout="30s"></div>
                           </center>
                           BTC markets: <a target="_blank" href="https://www.bitsahani.com/exchange/SUM-BTC">Bitsahani</a>, <a target="_blank" href="https://nanu.exchange/exchange#btc_fbc">Nanu Exchange</a>
                             <div id='id_chat_header'></div>
                          </div>
                    </div>
                    <div class="tab-pane fade" id="TwitterSumcoin" role="tabpanel">
                        <a class="twitter-timeline" href="https://twitter.com/sumcoinindex?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    <div class="tab-pane fade align-items-end" id="SumcoinChat" role="tabpanel">




                    <!-- chat -->



                         <!-- <button id='id_btn_chat_ru' type="button" class="btn btn-outline-primary btn-sm">Ru</button>
                          <button id='id_btn_chat_en' type="button" class="btn btn-outline-primary btn-sm">En</button> -->

                            <div id='chat-container_loading' class='container'>
                              <div class='row'><div class='col-md-12'>Loading...</div></div>
                            </div>
                            <div id='chat-container_ru' class='container font_14'>
                            </div>
                            <div id='chat-container_en' class='container font_14'>
                            </div>

                          <div class="input-group">
                            <input id='chat_message' type="text" class="form-control" maxlength="50">
                            <span class="input-group-btn">
                              <button id='button_chat' class="btn btn-secondary" type="button">Submit</button>
                            </span>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of Sumcoin Board -->
          </div>
          <div class="row">
          <!-- buy -->
            <div class="col-md-4 p-1">
              <div class="card">
                <div id='header_buy' class="card-header alert alert-primary" tyle="margin-bottom: 0.3rem;">
                </div>
                <div class="card-body p-1">
                  <div class="alert alert-secondary p-0" role="alert">
                    <div class='container'>
                      <div class='row'>
                        <div class='col-md-6'>
                          <table>
                            <thead>
                              <tr><th>Balance:</th></tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <span id='id_buy_balance'></span>
                                  <div id="id_balance_spiner1">
                                    <div id="circularG_1" class="circularG"></div>
                                    <div id="circularG_2" class="circularG"></div>
                                    <div id="circularG_3" class="circularG"></div>
                                    <div id="circularG_4" class="circularG"></div>
                                    <div id="circularG_5" class="circularG"></div>
                                    <div id="circularG_6" class="circularG"></div>
                                    <div id="circularG_7" class="circularG"></div>
                                    <div id="circularG_8" class="circularG"></div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td id='id_buy_coin'></td></tr>
                            </tbody>
                          </table>
                        </div>
                        <div class='col-md-6'>
                          <table>
                            <thead>
                              <tr><th>Highest Ask:</th></tr>
                            </thead>
                            <tbody>
                              <tr><td id='id_max_ask'></td></tr>
                              <tr><td id='id_max_ask_coin'></td></tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <form id="form_buy" class="p-3">
                    <div class="form-group row">
                      <label for="inputBuyAmount" class="col-md-4 col-form-label form-control-sm">Amount:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" id="inputBuyAmount" placeholder="0.0" aria-describedby="id_amount_buy" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_amount_buy"></span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputBuyPrice" class="col-md-4 col-form-label form-control-sm">Price:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" id="inputBuyPrice" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_price_buy"></span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputBuyComission" class="col-md-4 col-form-label form-control-sm">Comission:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" id="inputBuyComission" readonly placeholder="0.0">
                        <span class="currency" id="id_comission_buy"></span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputBuyTotal" class="col-md-4 col-form-label form-control-sm">Total:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" id="inputBuyTotal" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_total_buy"></span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                  </form>

                </div>
              </div>
            </div>

            <!-- sell  -->
            <div class="col-md-4 p-1">
              <div class="card">
                  <div id='header_sell' class="card-header alert alert-primary" tyle="margin-bottom: 0.3rem;">
                  </div>
                  <div class="card-body p-1">
                    <div class="alert alert-secondary p-0" role="alert">
                      <div class='container'>
                        <div class='row'>
                          <div class='col-md-6'>
                            <table>
                              <thead>
                                <tr><th>Balance:</th></tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <span id='id_sell_balance'></span>
                                    <div id="id_balance_spiner2">
                                      <div id="circularG_1" class="circularG"></div>
                                      <div id="circularG_2" class="circularG"></div>
                                      <div id="circularG_3" class="circularG"></div>
                                      <div id="circularG_4" class="circularG"></div>
                                      <div id="circularG_5" class="circularG"></div>
                                      <div id="circularG_6" class="circularG"></div>
                                      <div id="circularG_7" class="circularG"></div>
                                      <div id="circularG_8" class="circularG"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr><td id='id_sell_coin'></td></tr>
                              </tbody>
                            </table>
                          </div>
                          <div class='col-md-6'>
                            <table>
                              <thead>
                                <tr><th>Highest Bid:</th></tr>
                              </thead>
                              <tbody>
                                <tr><td id='id_max_bid'></td></tr>
                                <tr><td id='id_max_bid_coin'></td></tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                      <form id="form_sell" class="p-3">
                        <div class="form-group row">
                          <label for="inputSellAmount" class="col-md-4 col-form-label form-control-sm">Amount:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="inputSellAmount" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                            <span class="currency" id="id_amount_sell"></span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputSellPrice" class="col-md-4 col-form-label form-control-sm">Price:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="inputSellPrice" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                            <span class="currency" id="id_price_sell"></span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputSEllComission" class="col-md-4 col-form-label form-control-sm">Comission:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="inputSellComission" readonly placeholder="0.0">
                            <span class="currency" id="id_comission_sell"></span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputSellTotal" class="col-md-4 col-form-label form-control-sm">Total:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="inputSellTotal" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                            <span class="currency" id="id_total_sell"></span>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sell</button>
                      </form>
                  </div>
              </div>
            </div>

            <!-- trade history -->
            <div class="col-md-4 p-1">
                <div class="card">
                  <div class="card-header alert alert-primary" tyle="margin-bottom: 0.3rem;">
                    Trade history
                  </div>
                  <!-- <div class="card-header p-1">
                    <table class='table table-orders m-0'>
                      <tr>
                        <td><strong>Trade history:</strong></td>
                      </tr>
                    </table>
                  </div> -->

                  <div class="card-body div-orders p-0"  style='height: 375px;'>
                    <table class="table table-striped table-sm table-orders">
                      <thead>
                        <tr>
                          <th>Time</th>
                          <th>Type</th>
                          <th>Amount</th>
                          <th>Price</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id='id_trade_history'>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- 2nji row  -->
      <div class='row'>
        <div class="col-md-3 pl-1" style="padding-right: 1px;">
            <div class="card">
              <div class="card-header p-0 alert alert-primary" tyle="margin-bottom: 0.3rem;">
                <table class='table table-orders m-0'>
                  <tr>
                    <td> <strong>  Sell orders</strong></td>
                   <td class='form_title_volume' align="right">Volume:<span id='id_sell_volume'></span></td>
                  </tr>
                </table>
              </div>
              <div class="card-body div-orders p-0">
                <table class="table table-striped table-sm table-orders table-hover">
                  <thead>
                    <tr id='id_sell_orders_header'>
                    </tr>
                  </thead>
                  <tbody id='id_sell_orders_body'>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="col-md-3 pl-1"style="padding-right: 1px;">
          <div class="card">
            <div class="card-header p-0 alert alert-primary" tyle="margin-bottom: 0.3rem;">
              <table class='table table-orders m-0'>
                <tr>
                  <td><strong>Buy orders</strong></td>
                 <td class='form_title_volume' align="right">Volume:<span id='id_buy_volume'></span></td>
                </tr>
              </table>

            </div>
            <div class="card-body div-orders p-0">
              <table class="table table-striped table-sm table-orders table-hover">
                <thead>
                  <tr id='id_buy_orders_header'>
                  </tr>
                </thead>
                <tbody id='id_buy_orders_body'>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0" style="padding-right: 1px;">
          <div class="card">
           <!-- <div class="card-header">
              Your active orders:
            </div>-->
            <ul class="nav nav-tabs alert-primary">
              <li class="nav-item">
                <a class="nav-link active" id="active-orders-tab" data-toggle="tab" href="#active_orders" role="tab" aria-controls="active_orders" aria-selected="true">Your active orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="history-orders-tab" data-toggle="tab" href="#history-orders" role="tab" aria-controls="history-orders" aria-selected="false">Your history</a>
              </li>
            </ul>

            <div class="card-body div-orders p-2" style="height: 340px">
              <div class="tab-content" id="user-orders-tab-content">
                <div class="tab-pane fade show active" id="active_orders" role="tabpanel" aria-labelledby="active-orders-tab">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id='id_user_orders'>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="history-orders" role="tabpanel" aria-labelledby="history-orders-tab">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id='id_user_orders_history'>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /container -->

    <%- include ('../partials/footer') %>
    <script src='/js/index.js'></script>
  </body>
</html>
